<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.seas.pennapps.dumbledore.pollio"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <permission android:name="edu.upenn.seas.pennapps.dumbledore.pollio.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="edu.upenn.seas.pennapps.dumbledore.pollio.MainActivity"
            android:label="@string/app_name" >

        </activity>
        
        <activity
            android:name="edu.upenn.seas.pennapps.dumbledore.pollio.DemoActivity"
            android:label="Demo Activity" >
        </activity>
            
        <activity
            android:name="edu.upenn.seas.pennapps.dumbledore.pollio.NewPollActivity"
            android:label="New Poll" >
            
        </activity>
        
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="edu.upenn.seas.pennapps.dumbledore.pollio" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
        
        <activity
            android:name="edu.upenn.seas.pennapps.dumbledore.pollio.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="edu.upenn.seas.pennapps.dumbledore.pollio.MultipleChoicePoll"
                android:label="@string/mc_poll_name" >
        </activity>
        <activity android:name=".PicturePoll"/>
        
        <activity android:name=".BinaryPoll"
            android:label="@string/app_name"/>
        <activity android:name=".MultipleChoiceResult"
            android:label="@string/app_name"/>
        <activity android:name=".PictureResult"
            android:label="@string/app_name"/>
        <activity android:name=".SlideBarResult"
            android:label="@string/app_name"/>
        <activity android:name=".BinaryResult"
            android:label="@string/app_name"/>
        <activity android:name=".MultipleChoiceRequest"
            android:label="@string/app_name"/>
        <activity android:name=".PictureRequest"
            android:label="@string/app_name"/>
        <activity android:name=".SlideBarRequest"
            android:label="@string/app_name"/>
        <activity android:name=".BinaryRequest"
            android:label="@string/app_name"/>
        
    </application>

</manifest>
